<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="calendar">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendario</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Ajustes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="card">
        <ion-icon name="card"></ion-icon>
        <ion-label>Registro de Tarjeta</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="events">
        <ion-icon name="location"></ion-icon>
        <ion-label>Eventos en Ciudades</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

