.hero {
  background: #3880ff;
  text-align: center;
  color: white;
  padding: 100px 20px;

  .hero-content {
    max-width: 600px;
    margin: 0 auto;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    ion-button {
      --background: #ffffff;
      color: #3880ff;
    }
  }
}
